
body {
    font-family: $body_font_family;
    margin: 0;
    padding-top: env(safe-area-inset-top, 0px);
    padding-bottom: env(safe-area-inset-bottom, 0px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
    color: $text_color;
    background-color: $body_background_color;
    font-size: clamp(12px, 1.7vw, 16px);

    @media (max-height: $phone_width) {
        font-size: clamp(12px, 1.6vw, 16px);
    }
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: $body_background;
}