// font

$body_font_family: 'Roboto', Arial, 'Noto Sans TC';
$code_font_family: 'Courier New', Courier, monospace; /* 等寬字體 */


// color

$text_color: #ececec;
$text_strong: #cfa603;
$text_em: #ffcc00;
$text_del: #ff3333;
$text_code: #ffcc00;

$header_color: #b8008a;
$header_before_color: #333;

$code_background: #2d2d2d;

$a_active: #ff8c00;
$a_hover: #ffa500;

$body_background: linear-gradient(135deg, #1a1a1a, #111);

$header_background: rgba(0, 0, 0, 0.8);
$header_title_color: #ff8c00;
$header_border: 1px solid #444;

$button_color: #ececec;
$button_background: inherit;
$button_hover_color: #000;
$button_hover_background: #ff8c00;

$sidebar_background: linear-gradient(rgba(20, 20, 20, 0.85), rgba(20, 20, 20, 0.6));
$sidebar_box_shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

$toc_bar_background: linear-gradient(rgba(20, 20, 20, 0.85), rgba(20, 20, 20, 0.6));
$toc_bar_title_color: #ff8c00;
$toc_bar_box_shadow: -2px 0 5px rgba(0, 0, 0, 0.5);

// size
$phone_width: 768px;
$header_height: 47px;


@mixin light_theme {
    $text_color: #ececec;
}
  
@mixin dark_theme {
    $text_color: #ececec;
}


@media (theme: light) {
    body {
        @include light_theme;
    }
}

@media (theme: dark) {
    body {
        @include dark_theme;
    }
}

