@use '../theme' as *;
@import '../base';
@import '../header';

.bookshelf {
    position: relative;
    margin-top: $header_height;
    top: 30px;

    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.book {
    color: inherit; /* 連結顏色繼承父元素設定 */
    background-color: #333;
    text-decoration: none; /* 去掉連結的下劃線 */

    border-radius: 5px;
    border: 1px solid #444;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cover {
    width: 240px;
    height: 150px; /* 固定高度，可以根据需要调整 */
    overflow: hidden;
    transition: width 0.3s, height 0.3s;

    @media (max-width: $phone_width) {
        width: 120px;
        height: 75px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.book-title {
    padding: 10px;
    text-align: center;
    background-color: #222;
    color: $header_title_color;
}
