<div id="toc-bar"  class="toc-bar">
    <h2>索引</h2>
    <ul id="toc">
        {% for h1 in toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul id="h2">
                {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        {% if h2.children %}
                            <ul id="h3">
                            {% for h3 in h2.children %}
                                <li>
                                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                    {% if h3.children %}
                                        <ul id="h4">
                                        {% for h4 in h3.children %}
                                            <li>
                                                <a href="{{ h4.permalink | safe }}">{{ h4.title }}</a>
                                                {% if h4.children %}
                                                    <ul id="h5">
                                                    {% for h5 in h4.children %}
                                                        <li>
                                                            <a href="{{ h5.permalink | safe }}">{{ h5.title }}</a>
                                                            {% if h5.children %}
                                                                <ul id="h6">
                                                                {% for h6 in h5.children %}
                                                                    <li>
                                                                        <a href="{{ h6.permalink | safe }}">{{ h6.title }}</a>
                                                                    </li>
                                                                {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>