.content {
    position: relative;
    top: $header_height;
    width: 50%;
    padding: 20px;
    overflow-y: auto;
    transition: width 0.3s ease;
    background: $body_background;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

    @media (max-width: $phone_width) {
        width: 100%;
    }

    a {
        color: $a_active;
        text-decoration: underline;
    }

    img {
        padding-top: 5px;
        max-width: 100%;
        border-radius: 5px;
    }

    /* 粗體字顏色 */
    b, strong {
        color: $text_strong;
    }

    /* 斜體字顏色 */
    em {
        color: $text_em;
    }

    /* 刪除線文字顏色 */
    s, del {
        color: $text_del;
        text-decoration-color: $text_del;
    }

    /* 行內程式碼區塊的背景色與字體顏色 */
    code:not(pre code) {
        color: $text_code;
        background-color: $code_background;
        padding: 0px 4px;
        border-radius: 3px;
        font-family: $code_font_family;
    }

    /* 通用的程式碼區塊樣式，不做太多設定以套用模板效果 */
    pre {
        padding: 10px;
        border-radius: 5px;
        overflow-x: auto;
        margin-bottom: 20px;
        font-family: $code_font_family;
    }

    ul, ol {
        padding-left: 2em;
        margin-bottom: 1em;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $header_color;
        font-weight: bold;
        margin: 1.5em 0 0.8em;
        line-height: 1.2;
    }

    h1 {
        font-size: 1.9rem;
    }

    h2 {
        font-size: 1.6rem;
        border-bottom: 2px solid $header_before_color;
        padding-bottom: 0.2em;
    }

    h3 {
        font-size: 1.3rem;
        color: $header_color;
    }

    h4 {
        font-size: 1.1rem;
        font-weight: normal;
        color: $header_color;
    }

    h2::before {
        content: "● ";
        color: $header_before_color;
        font-size: 1.2em;
    }
    
    h3::before {
        content: "○ ";
        color: $header_before_color;
        font-size: 1em;
    }
    
    h4::before {
        content: "■ ";
        color: $header_before_color;
        font-size: 0.8em;
    }

}