.toc-bar {
    position: fixed;
    top: $header_height;
    right: 0;
    bottom: 0;
    width: 20%;
    z-index: 1;
    
    padding: 15px;
    background: $toc_bar_background;
    box-shadow: $toc_bar_box_shadow;
    backdrop-filter: blur(10px); /* 添加霧玻璃模糊效果 */
    -webkit-backdrop-filter: blur(10px); /* 適配 Safari */
    overflow-y: auto;
    transition: transform 0.3s, width 0.3s;

    line-height: 1.8;

    @media (max-width: $phone_width) {
        width: 30%;
        transform: translateX(100%);
    }

    h2 {
        margin: 0;
        color: $toc_bar_title_color;
        text-align: center;
    }

    ul, ol {
        padding-left: 15px;
        white-space: nowrap;

        ul, ol {
            padding-left: 30px;
        }
    }

    a {
        color: inherit; /* 取消顏色變化 */
        text-decoration: none; /* 取消下劃線 */
        transition: color 0.3s ease;
    }

    a.active {
        color: $a_active;
        font-weight: bold;
    }
}

.toc-bar.collapsed {
    transform: translateX(100%);

    @media (max-width: $phone_width) {
        transform: translateX(0%);
    }
}