@use '../theme' as *;
@import 'header';
@import 'sidebar';
@import 'content';
@import 'toc-bar';

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: $text_color;
    font-size: clamp(12px, 1.7vw, 16px);
}

.container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;

    a:hover {
        color: $a_hover;
        text-decoration: underline;
    }
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: $body_background;
}