@use '../theme' as *;
@import '../base';
@import '../header';

@import 'header';
@import 'sidebar';
@import 'content';
@import 'toc-bar';

.container {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;

    a:hover {
        color: $a_hover;
        text-decoration: underline;
    }
}