{% extends "base.html" %}

<!-- head -->
{% block head %}
    <link rel="stylesheet" href="{{ get_url(path="bookshelf/main.css") }}">
    <title>{{ config.title }}</title>
{% endblock %}

<!-- content -->
{% block content %}
    <section class="section">
    <div class="container">
        <div class="background"></div>

        <div class="header" id="header">
            <h2>{{ config.title }}</h2>
        </div>

        <div class="bookshelf">
            {% for subSection in section.subsections %}
                {% set section = get_section(path=subSection) %}
                {% set image = section.permalink ~ "_index.png" | safe %}
                
                {% include "book.html" %}

            {% endfor %}
        </div>
    </div>
    </section>
{% endblock content %}